.comments {
    width: 520px;
    &__wrapper {
        min-height: 430px;
        max-height: 100%;
        padding: 30px 20px 22px;
        background-color: var(--general-gray);
    }
    
    label {
        display: block;
    }

    &__input {
        background-color: var(--light-gray);
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: rgba($color: #fff, $alpha: 0.7);
        }
    }

    

    #message {
        height: 118px;
        width: 100%;
        resize: none;  
        padding: 20px;
    }

    &__input_descr {
        font-size: 16px;
        font-weight: 400;
        margin: 24px 0 0 0;
    }

    &__socials {
        margin: 12px 0 0 0;
        display: flex;
        column-gap: 24px;
    }

    &__name {
        margin: 14px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 417px;
            height: 50px;
            padding: 20px 22px;
        }
    }

    &__send {
        margin: 20px 0 0 0;
        display: block;
        border: none;
        background: var(--general-purple);
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        padding: 13px 0;
        width: 100%;
    }
    &__messages {
        margin: 26px 0 0 0;
        list-style: none;
        overflow: overlay;
        max-height: 71vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.comment {
    width: 100%;
    display: flex;
    margin: 18px 0 0 0;

    &:first-child {
        margin: 0;
    }

    &__content {
        flex-grow: 1;
        flex-basis: min-content;
    }

    &__avatar {
        margin: 0 10px 0 0;
        border-radius: 50%;
        object-fit: cover;
        height: 50px;
        width: 50px;
    }

    &__username {
        font-size: 20px;
        font-weight: 500;
    }

    &__time {
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin: 4px 0 0 0;
    }

    &__message {
        margin: 11px 0 0 0;
        font-size: 16px;
        font-weight: 400;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0 0 0;
    }

    &__right_actions {
        display: flex;
        column-gap: 30px;
        justify-content: space-between;
    }

    &__reply_btn {
        cursor: pointer;
        display: flex;
        column-gap: 9px;
    }

    &__reply_btn_text {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    &__dislike, &__like {
        display: flex;
        column-gap: 8px;
    }

    &__reactions {
        display: flex;
        column-gap: 17px;
        .icon {
            cursor: pointer;
        }
    }

    &__options {
        cursor: pointer;
    }
}

@media (max-width: 1599px) {
    .comments {
        width: 440px;
        &__name {
            input {
                width: 352px;
            }
        }
    }
}

@media (max-width: 1399px) {
    .comments {
        width: 387px;
        &__name {
            input {
                width: 280px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .comments {
        width: 350px;
        &__wrapper {
            padding: 20px 15px 20px;
        }
        &__socials {
            column-gap: 0px;
            justify-content: space-between;
        }
        &__name {
            input {
                width: 250px;
            }
        }
    }
}