.content {
    padding: 60px 0 50px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 950px;
    }
}

@media (max-width: 1599px) {
    .content {
        &__left {
            width: 818px;
        }
    }
}

@media (max-width: 1399px) {
    .content {
        &__left {
            width: 706px;
        }
    }
}

@media (max-width: 1199px) {
    .content {
        &__left {
            width: 585px;
        }
    }
}
