.video {
    &__frame {
        height: 533px;
        display: none;
        &--active {
            display: block;
        }
    }
    &__image {
        display: none;
        img {
            width: 100%;
        }
        &--active {
            display: block;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0 0 0;
    }
}